* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (min-width:375px){
    .details_containers {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
      animation: toAnimatePage 500ms ease-in backwards;
    }
    img {
      width: 100%;
      height: 100%;
      display: flex;
    }
    #first_page_details_container,#second_page_details_container {
      position: absolute;
      width: 80%;
      left: 5vw;
      animation: toAnimateTexts 500ms ease-in 600ms backwards;
    }
    #first_page_details_container {
      top: 30vw;
    }
    #second_page_details_container {
      top: 20vw;
    }
    .headings{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 6vw;
      color: white;
    }
    .para_details {
      font-size: 3.5vw;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      line-height: 6vw;
      text-align: justify;
      color: white;
    }  
}
@keyframes toAnimatePage {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes toAnimateTexts {
    from{
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0vw);
    }
}